<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_vns">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_vns"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_vns_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SpecialityActivity" />
        <activity android:name=".placeVisitActivity" />
        <activity android:name=".history_activity" />
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>